:root
{
--bg-black:#040404;
--bg-darkgray:#141414;
--bg-red:#ff4d4f;
--bg-gray:#d9d9d9;
--bg-white:#ffffff;
--bg-yellow:#fbbf24;
--bg-dark-red:#a63d4e; 
--txt-black:#040404;
--txt-red:#ff4d4f;
--txt-gray:#d9d9d9;
--txt-white:#ffffff;
--txt-yellow:#fbbf24;
--txt-dark-red:#a63d4e;
--txt-darkgray:#141414; 

}
body
{
margin: 0;
padding: 0;
overflow-x: hidden;
box-sizing: border-box;
background-color: var(--bg-darkgray);
} 
#main
{
width: 100%;
height: 550px;  
background: linear-gradient(rgba(10,0,0,.9),rgba(5,0,0,0.6)),url('../images/man.png') no-repeat;
background-size: 60% 650px;
background-position: right;
background-attachment: fixed;  
top: 0 !important;
}
.nav
{
width: 80%;
height: auto;
margin: auto; 
box-shadow: 0px 1px 0px white; 
/* background-color: var(--bg-black);   */
}
.nav ul li 
{
 display: inline-block;
 padding: 5px 15px;   
}
.navbar-brand 
{
font-size: 30px !important;
font-weight: bold;
color: white;    
}
.nav a 
{
text-decoration: none;
list-style-type: none;
color: white;    
font-size: 18px;
}
.banner h1,h2,h3 
{
color: white;
text-align: center;    
}
.get-started
{
border-radius: 25px;    
}

/*  media query for mobile*/
@media only screen and (max-width:580px)
{
#main
{
width: 100% !important;
height: auto !important;  
background: linear-gradient(rgba(10,0,0,.9),rgba(5,0,0,0.6)),url('../images/man.png') no-repeat;
background-size: auto auto;
background-position:center;
background-attachment: fixed;  
top: 0 !important;
}    
.nav ul li 
{
 display: block;
 padding: 5px 0px;   
}
.banner h1,h2,h3 
{
color: white;
text-align: center;    
font-size: 20px !important;
}
}
